@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    
    
    
    <div>
        <a class="btn btn-primary" href="@Url.Action("CassandraData", "Data")">View Cassandra Data</a>
        <a class="btn btn-secondary" href="@Url.Action("MongoData", "Data")">View Mongo Data</a>
        <a class="btn btn-success" href="@Url.Action("PostgresData", "Data")">View Postgres Data</a>
    </div>
    
    
    
</div>