@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
   
    <div>
        <a class="btn btn-primary" href="@Url.Action("CassandraData", "Data")">View Cassandra Data</a>
        <a class="btn btn-secondary" href="@Url.Action("MongoData", "Data")">View Mongo Data</a>
        <a class="btn btn-success" href="@Url.Action("QueryOptions", "Postgres")">View Postgres Data</a>
    </div>
    
    
    
</div>